/*Body css*/
body{
    background-color:whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}
@media (max-width: 200px) {
    html { font-size: 2%; }
}
@media (min-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 360px) {
    html { font-size: 95%; }
}

@media (min-width: 500px) {
    html { font-size: 135%; }
}

@media (min-width: 700px) {
    html { font-size: 160%; }
}

@media (min-width: 1000px) {
    html { font-size: 180%; }
}

@media (min-width: 1500px) {
    html { font-size: 225%; }
}

/*header css*/
header{
    background-color:darksalmon;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
    min-width: 50%;
    max-width: 100%;
}

header h1{
    margin:1% 2% 0% 20%  ;
    color:black;
    font-size:1.8em;
    text-transform:uppercase;
    text-align: center;
    letter-spacing:0.5em;
    font-family: Klee, Times, serif;
}

header h2{
    margin-left:40%  ;
    margin-top: 0%;
    font-size: 1.4em;
    color:black;
    text-align:center;
    letter-spacing:0.1em;
    font-family: "Cambria Math", Times, serif;

}

form{
    font-size:0.6em;
    display: inline;

}
input[type=name] {
    height: 30px;
    width: 280px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}

input[type=email] {
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}

input[type=password] {
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;


}
input[type=address] {
    height: 30px;
    width: 280px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}

#radio label {
    float: right;
    display: inline;
    width: auto;
    margin-left: 4em;
}

#emailPass {
    text-align: right;
    display: inline-table;
    width: 380px;
}
input[type=range] {


}

button {
    background-color:darksalmon  ;
    color:white;
    width:200px;
    height: 60px;
    border:4px;
    border-radius: 20px;
    font-size: 1em;
}



